@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 20% 98%;
  --foreground: 222 47% 11%;
  --muted: 215 16% 47%;
}

@layer base {
  body {
    @apply bg-[#f6f7f9] text-slate-900 antialiased;
    font-feature-settings: "kern" 1, "liga" 1;
  }
}
